  form.form-auth {
    display: table;
  }
  
  div.form-auth {
    display: table-row;
  }
  
  label,
  input {
    display: table-cell;
    margin-bottom: 10px;
  }
  
  label {
    padding-right: 10px;
  }

  div.middleelement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }