.carte {
    width:45%;
    margin: auto;
}
path {
    stroke: white;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: .25;
    fill: black;
}
g:hover path {
    fill: #a90000;
}

g path:hover {
    fill: #690101;
}