.carte {
    width:45%;
    margin: auto;
}
path {
    stroke: white;
    stroke-width: 1px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: .25;
    fill: black;
}
g:hover path {
<<<<<<< HEAD
    fill: #A90000;
}

g path:hover {
    fill: #690101;
=======
    fill: rgb(199, 139, 70);
}

g path:hover {
    fill: rgb(105, 1, 1);
}

.carousel{
    margin-top: -30px;
}

.gaule{
    position: absolute;
    z-index: 15;
    margin-top: 10%;
    margin-left: 26%;
    font-size: 40px;
    font-family: 'Grenze Gotish';
    font-weight: 600;
    color: #f9b300;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.8px;
>>>>>>> ae68efcb1830a03b35db876194fd4788b938839e
}