footer{
    background-image: url(../images/Visuals/Footer/Footer.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    padding-bottom: 400px;
}