body{
    background-color: transparent !important;
}  

header{
    position: fixed;
    background-image: url(../images/Visuals/Header/HeaderCenter.png);
    background-size: 40%;
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    z-index: 1;
}

header .side{
    width: 2.65%;
}

header .right{
    transform: scale(-1,1);
    float:right;
}

header a{
    margin-top: 2.5%;
    position: absolute;
    color:white; 
    text-decoration: none;
}
header a{
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 0),
        rgba(100, 200, 200, 0)
      ),
      linear-gradient(
        to right,
        rgb(137, 2, 2),
        rgb(231, 89, 13),
        rgb(255, 206, 82)
    );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
a:hover{
    background-size: 0 3px, 100% 3px;
}
  

.accueil{
    position: absolute;
    left: 4.8%;
    top: 15%;
}
.accueil:hover{
    color: white;
    text-decoration: none;
}
.accueil:visited{
    color: white;
    text-decoration: none;
}
header #castle{
    position: absolute;
    left: 4.5%;
    top: 4%;
    height: 53px;
    z-index: 2;
}

.cnx{
    position: absolute;
    right: 4.8%;
    top: 15%;
}
.cnx:hover{
    color: white;
    text-decoration: none;
}
.cnx:visited{
    color: white;
    text-decoration: none;
}
header #knight{
    position: absolute;
    right: 4.5%;
    top: 4%;
    height: 53px;
}

header #logo{
    margin-top: 0.5%;
    position: absolute;
    width: 13%;
    left: 44%;
}

#header{
    width: 1px;
    padding-bottom: 120px;
}

header{
    z-index: 16;
}