body{
    background-color: transparent !important;
}

html{
    background-image: url(../images/Visuals/fondManuscrit.png);
}   

header{
    position: fixed;
    background-image: url(../images/Visuals/HeaderCenter.png);
    background-size: 40%;
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    /*margin: -10px 0px 0px -10px;*/
    z-index: 1;
    top: 0px;
    left: 0px;
}

header .side{
    width: 2.65%;
}

header .right{
    transform: scale(-1,1);
    float:right;
}

header a{
    margin-top:10px;
    position:absolute;
    padding: 25px 50px;
    color:white; 
    background-position-x: left;
    background-position-y: center;
    background-size: 50px;
    background-repeat: no-repeat;
}


header .accueil{
    background-image: url(../images/icons/BlackWhiteIcons/castle.png);
}

header .crud{
    right:0;
    margin-right:150px;  
    background-image: url(../images/icons/BlackWhiteIcons/whiteManuscript.png);  
}

header .cnx{
    right:0;
    background-image: url(../images/icons/BlackWhiteIcons/whiteKnight.png);
}

header #logo{
    margin-top: 0.5%;
    position:absolute;
    width:10%;
    left:45%;
}

#header{
    width: 1px;
    padding-bottom: 120px;
}

/*Carousel*/
/*
url(../images/Visuals/Bannières/repas-10.png
url(../images/Visuals/Bannières/repas-11.png);
*/