.Specialite{
    width:40%;
    margin:5px;
    padding: 10px;
    border: solid 1px black;
    background-color: lightgoldenrodyellow;
}

div .Specialite:hover{
    cursor:pointer;
}

p{
    color:rgb(255, 0, 0);
}

.blason{
    width: 10%;    
}

.apercu{
    width: 200px;    
}