.content-stars {
    display: flex;
    flex-direction:row;   
}

.star{
    padding:0px;
    margin:0px;
    width:20; 
    height:20;
}

.color-stars{
    background-color: gold;
    border: solid 1px black;
    border-radius: 20px;
    overflow: hidden;
}
